.indx-tabs {
    display: flex;
    border-bottom: 1px solid var(--lv3);
    gap: 0;
}

.indx-tab {
    display: inline-flex;
    align-items: center;
    font-weight: var(--med);
    color: var(--lv5);
    background: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    margin-bottom: -1px;
    cursor: pointer;
    white-space: nowrap;
}

.indx-tab-micro {
    font: var(--text-xs);
    height: 30px;
    padding: 0 10px;
}

.indx-tab-default {
    font: var(--text-sm);
    height: 40px;
    padding: 0 15px;
}

.indx-tab-large {
    font: var(--text-base);
    height: 50px;
    padding: 0 20px;
}

.indx-tab:hover {
    color: var(--lv7);
}

.indx-tab-active {
    color: var(--lv7);
    border-bottom-color: var(--lv7);
}
