.indx-surface {
    border-radius: var(--radius);
    background: var(--lv2);
    padding: var(--spacing);
}

@media (prefers-color-scheme: dark) {
    .indx-surface {
        background: var(--lv1);
    }
}

.indx-surface-transparent {
    background: transparent;
}

@media (prefers-color-scheme: dark) {
    .indx-surface-transparent {
        background: transparent;
    }
}
